Python is a high level programing language which is easy to and simple to code
#and is used in various domains
#ranging , from data analysus to softeare development, data
#science and many more

#benefits
-> simple and easy to code
-> open up various opportunities in many domains

# print("jaipur")--------write inside doble or singlr quotes

# print(48)------no need for single quotes

In [1]:
print ("jaipur")

jaipur

In [3]:
print(48)

48

#string character are sequence of characters('jaipur')
#int----- all the numericsl values except decimal values(40,50,68,79)
#float------all the decimal values(1.1,2.2,3.3,-6.7)
#boolean/Bool-----(True/False)


#-------Single line commenting
#'''/"""line'''/"""--------multiple line commenting

#use case of comments:
#to explain or give any information 
#to protect the code from raising any error on some specific sentence

#variable:
#a=10
#variable name=variable value to give
#we can check the data using tupe function

In [5]:
a=9
print(type(a))

<class 'int'>

In [7]:
b="jaipue is a nice place"
print(type(b))

<class 'str'>

In [9]:
c=True
print(type(c))

<class 'bool'>

In [11]:
d=2.3
print(type(d))

<class 'float'>

#concatenation---to add the sentences 
#using + operator

In [13]:
print("jaipur is a nice place" + " And i am proud of it")

jaipur is a nice place And i am proud of it

#f-string

In [15]:
age=30
print("her age is ",39,'years old')

her age is  39 years old

In [17]:
#f-string:-
print(f"her age is {age} years old")

her age is 30 years old